<html>
    <head>
        <title>Signture Pad [ Dev ]</title>
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/signature_pad/signature_pad.js') }}"></script>
    </head>
    <body>
        <div id="signature-pad" class="m-signature-pad">
            <form name="frmSign" id="frmSign" action="" method="POST">
                {#<div class="m-user-body">
                    <label>Name:</label>
                    <input type="text" required="" name="txt_name" id="txtName" />
                </div>#}
                <div class="m-signature-pad--body">
                    <canvas></canvas>
                </div>
                <div class="m-signature-pad--footer">
                    <div class="description">Please sign above</div>
                    <button type="button" class="button clear" data-action="clear">Clear</button>
                    {#<button type="submit" class="button save" data-action="save">Save</button>#}
                </div>
            </form>
        </div>
        {#<div class="signature-list">
            {% for sign in signs %}
                <div class="sign">
                    <img src="{{ sign.getSign() }}" width="200" />
                    <span>{{ sign.getName() }}</span>
                </div>
            {% endfor %}
        </div>#}
        <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>